/* @import url('@material/floating-label/mdc-floating-label'); */
fieldset {
    padding: 0;
    width: 20%;
    /* border: none; */
    margin-left: 200px;
}
input {
    width: 100%;
    font-family: monospace;
    font-size: 22px;
    padding: 15px 10px;
    background: transparent;
    /* border: 2px solid #686060; */
    /* border-radius: 10px; */
    border: none;
    
}
legend {
    /* padding: 10px 20px; */
    margin-left: 15px;
    transform: translateY(100%);
    transition: all 0.75s ease;
    background: transparent;
}
label {
    font-size: 25px;
    cursor: text;
    transition: font-size 0.75s ease;
    background: transparent;
}
input:focus~legend{
    color: hotpink;
    transform: translateY(50%);
    /* background: #fff; */
}
input:focus~legend>label{
    
    font-size: 18px;
}
  

